# ignore all .csv (pipeline outputs)
*.csv
# ignore all .out (ORCA and pipeline outputs)
*.out
# ignore all .out.absq.dat (ORCA output plots)
*.out.absq.dat
# all temporary files
*.tmp
# all svg images
*.svg
# all xls files
*.xls*
# all txt files
*.txt
